body{
    font-family: 'myanmar text';
    background: #373737;
    font-size: 14px;
    line-height: 1.428571429;
    color: #373737;
}

body *{
    border-radius: 0 !important;
}

#nav-container{
   background-color: white;
    position: fixed;
    top:20px;
    padding: 0;
}

#nav-container .nav.nav-pills li{
    margin-top: 0;
}

#nav-container .nav.nav-pills a{
    padding: 12px 15px 10px;
    transition: all 0.5s;
    font-size: 16px;
    line-height: 30px;
}

#main-container{
    float: right;
    min-height: 1000px;
    margin-top: 20px;
    background-color: #ffffff;
    margin-left: -1px;
    border-left: solid 5px #337ab7;
    border-top: solid 2px #337ab7;
}

#admin-filter{
    margin: 20px 0;
}
.form-control{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin:0 20px 0 0px;
}

.btn-primary,.btn-default{
    width: 10%;
    height: 36px;
    line-height: 30px;
    font-size: 16px;
}

#admin-add-button{
    width: 100%;
}

label{
    font-size: 30px;
    line-height: 18px;
    color: gray;
    position: relative;
    top: 4px;
    margin-bottom: 0;
    font-weight: normal;
}

#insert-modal .modal-dialog{
    width: 80%;
}

#insert-modal label{
    width:20%;
    font-size: 24px;
    text-align: right;
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
    margin-right: 10px;
}

#insert-modal input[type="text"]:not(.small),input[type="email"],input[type="file"],input[type="number"],textarea{
    width: 67% !important;
    vertical-align: top !important;
    color: #444 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    display: inline-block!important;
}

#insert-modal textarea{
    min-height:85px;
    resize: none;
}

.form-group input[type="checkbox"]{
    margin-left: 10px !important;
    bottom: 5px;
}
.form-group.dateinput{
    width: 15%;
    display: inline-block;
}

.form-group.dateinput select{
    margin: 0 5px !important;
}

.form-group.dateinput label{
    width: auto !important;
    font-size: 16px !important;
}

.form-group.dateinput .form-control{
    width: auto !important;
}

.form-group.dateinput.time{
    width: 25%;
}

.form-group.dateinput.year{
    margin-left: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    padding: 0!important;
}

.fileUpload input.myupload {
    position: absolute;
    width: 100% !important;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    z-index: 11;
    filter: alpha(opacity=0);
}

.fileUpload span{
    cursor: pointer;
    position: relative;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 5px;
}

.form-group.img {
    position: relative;
    overflow: hidden;
}
.form-group.img input{
    width: 37% !important;
    margin-left: 10px;
    float: right;
    margin-bottom: 10px;
}

.form-group.img input[type="text"]{
    border: solid 1px #aaa;
    padding: 5px 5px 0;
}

.add-img-input,.add-record-input{
    color: #204d74;
    border: solid 1px #204d74;
    padding: 5px 5px 0px;
    margin-left: 5%;
    width: 15%;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

#new-content-form #body.ckedit{
    display: none !important;
}

#new-content-form #cke_body{
    display: inline-block;
    width: 67%;
}

.record-form{
    display: inline-block;
    margin-top: 10px;
}

.record-form span{
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

.record-form input{
    border: solid 1px #373737;
}

.form-group.rec{
    position: relative;
}

.add-record-input{
    position: absolute;
    bottom: 0;
}