#cat-container{

}

#selected-cat{
    display: inline-block;
    height: 45px;
    text-align: center;
    background: #373737;
    border: none;
    color: white !important;
}

#cat-container span.fa{
    position: absolute;
    right: 10%;
    line-height: 50px;
    top:0;
    color: #ffffff;
}

#cat-container span.fa:after{
    color: #ffffff;
}