.main-container{
position: absolute;
}


.onepage-section {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.onepage-section h2{
    font-size: 36px;
    font-weight: bolder;
    margin-top: 0px;
    padding-top: 70px;
}

.onepage-section h3{
    font-size: 14px;
    margin-top: 10px;
}

.onepage-section#home{
    background: url("../images/home-header.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-top: 4vh;
    position: relative;
    height: 100vh;
    text-align: center;
}

.onepage-section#home img{
    width: 20vw;
    height: auto;
    margin: 25vh auto 0;
}

.logo-caption{
    width: 100%;
    margin-top: 3vh;
    text-align: center;
    color: #373737;
    font-size: 22px;
    font-weight: bold;
}

.section-down-btn{
    color: white;
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 2em;
     margin-left: -2em;
    position: absolute;
    top: -2em;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.section-down-btn span{
    transition: all 0.5s;
    line-height: 0.8em;
    font-size: 3em !important;
}


.onepage-section:nth-child(even){
    background-color: #373737;
}

.onepage-section:nth-child(odd){
    background-color: #0098bf;
}

.onepage-section:nth-child(even) .section-down-btn{
    background-color: #373737;
}

.onepage-section:nth-child(even) .section-down-btn:hover{
    color:#0098bf;
}

.onepage-section:nth-child(odd) .section-down-btn{
    background-color: #0098bf;
}

.onepage-section:nth-child(odd) .section-down-btn:hover{
    color:#373737;
}

.onepage-section#footer h1{
    margin-top: 0;
    padding-top: 1em;
    font-size: 18px;
    color:#373737;
    line-height: 30px;
}

.onepage-section#footer h3{
    margin-top: 0px;
    font-size: 18px;
    color:#373737;
}

.onepage-section#footer{
    height: 20vh;
}

.hider{
    width: 96%;
    margin: 10vh 2%;
    overflow: hidden;
}

#services-next,#company-next,#members-next{
    position: absolute;
    right: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#services-prev,#company-prev,#members-prev{
    position: absolute;
    left: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#services-next:hover,#services-prev:hover,#members-next:hover,#members-prev:hover,#company-next:hover,#company-prev:hover{
    color: #ffffff;
}
#service-wrapper,#company-wrapper,#members-wrapper{
    display: inline-block;
    position: relative;
    left: 0vw;
    margin-left: -10px;
    width:auto;
    height: 60vh;
    text-align: center;
}

#company-wrapper,#members-wrapper{
    margin-top: 0vh;
    height: 50vh;
}

#members-wrapper{
    padding: 0 2vw;
}

#service-wrapper .service,#company-wrapper .company,#members-wrapper .member{
    display: inline-block;
    float: left;
    width: 20vw;
    height: 50vh;
    margin: 10px 1.8vw;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

#members-wrapper .member{
    /*border: solid 1px white;*/
    height: 45vh;
    width: 19.5vw;
}

#service-wrapper .service img,#company-wrapper .company img{
    width: 10vw;
    height: 10vw;
    transition: all 0.5s;
}

#members-wrapper .member img{
    width: 14vw;
    height: 14vw;
    margin-top: 1vw;
    transition: all 0.5s;
    border-radius: 1000px;
}

#company-wrapper .company img{
    margin-bottom: 2vh;
    -webkit-filter: grayscale(100%) contrast(180%);
    filter: grayscale(100%) contrast(180%);
}

#members-wrapper .member img{
    margin-bottom: 2vh;
    -webkit-filter: grayscale(80%) contrast(180%);
    filter: grayscale(80%) contrast(180%);
}

.company:hover img{
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%);
}

.member:hover img{
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%);
}

#service-wrapper .service h4,#company-wrapper .company h4, #members-wrapper .member h4{
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

#members-wrapper .member h4{
    /*border-top: solid 1px white;*/
    padding: 20px 10px 0;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    top: 16vw;
    background: #0098be;
    height: 100px
}

#service-wrapper .service p,#company-wrapper .company p{
    font-size: 12px;
    max-height: 100px;
    line-height: 16px;
    margin-top: 20px;
    overflow: hidden;
}

section#members .hider{
    margin-top: 2vh;
}

#blog-wrapper{
    width: 100%;
    padding: 1vh 5vm;
}

.blog{
    position: relative;
    display: inline-block;
    background-color: #373737;
    width: 25vw;
    margin: 0vh 2.5vw;
    height: 48vh;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    overflow: hidden;
}

.blog h4{
    margin: 3vh 0 1vh;
    width: 100%;
    padding: 0 2em;
    font-size: 18px;
    line-height: 7vh;
    text-align: center;
    height: 8vh;
}

.blog .blog-date{
    color: #ffffff;
    background-color: #000000;
    font-size: 12px;
    line-height: 9vh;
    height: 8vh;
    width: 100%;
    text-align: left;
}
.blog .blog-date .fa{
    margin:0 10px 0 20px ;
}

.blog img{
    width: 100%;
    height: 28vh;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    transition: all 1s;
}

.blog:hover img{
    opacity: 0;
    bottom: -29vh;
}

.blog:hover p{
    opacity: 1;
}

.blog .blog-btn,.research .research-btn{
    text-align: center;
    width: 15vw;
    display: block;
    position: relative;
    margin: auto;
    z-index: 10;
    height: 6vh;
    line-height: 7vh;
    font-size: 12px;
    margin-top: 2vh;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.7);
}

.blog-btn-all,.research-btn-all{
    display: inline-block;
    width: 25vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 16px;
    margin: 0vh auto 0;
    padding: 0 10px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 4px black;
    transition: all 1s;
}

.blog-btn-all:hover,.research-btn-all:hover{
    background-color: rgba(0,0,0,1);
}

.blog p{
    font-size: 12px;
    max-height: 16vh;
    padding: 2vh 4vh 2vh;
    text-align: justify;
    line-height: 16px;
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
}

#events-next{
    position: absolute;
    right: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#events-prev{
    position: absolute;
    left: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#events-next:hover,#events-prev:hover{
    color: #ffffff;
}

.event{
    float: left;
    position: relative;
    display: inline-block;
    width: 25vh;
    margin: 2.5vh 0 0 2.5vh;
    height: 25vh;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    background-color: #2ca02c;
    transition: opacity, 0.5s;
}

.color1{
    background-color: #2980b9;
}

.color2{
    background-color: #e67e22;
}

.color3{
    background-color: #1abc9c;
}

.color5{
    background-color: #e74c3c;
}

.color6{
    background-color: #2ca02c;
}

.event:hover{
    transition: all 0.5s;
    transition-delay: 0.5s;
    z-index: 100;
    width: 52.5vh;
}

.event.highlight:hover{
    height: 52.5vh;
    top: 0 !important;
}

.event .overlay{
    width: 25vh;
    height: 25vh;
    overflow: hidden;
    padding: 7vh 0;
    margin: auto;
}

.event:hover .overlay{
    height: 0px;
    padding: 0 !important;
    opacity: 0;
    text-align: center;
    transition: all 0.5s;
}

.event.highlight .overlay{
    padding: 5vh 0;
}

.event .content{
    opacity: 0;
    padding: 2.5vh;
    transition: all 0.5s;
    transition-delay: 1s;
}

.event:hover .content{
    opacity: 1;
}

.event.highlight{
    width: 52.5vh;
    font-size: 22px;
}

#events .hider{
    height: 56vh;
    width: 92%;
    margin: 2vh 4% 0;
}
#events #event-wrapper{
    height: 60vh;
    left: 0px;
    transition: all 0.5s;
}

.event.fade{
    opacity: 0.4;
}

.research{
    text-align: left;
    background-color: #373737;
    width: 90%;
    display: block;
    margin: 2vh auto;
    height: 27vh;
    padding: 10px 20px;
}

.research h4{
    font-size: 16px;
    margin-top: 5px;
    width: 100%;
}

.research h5{
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
}

.research p{
    font-size: 12px;
    max-height: 30px;
    line-height: 18px;
    margin-top: 15px;
    overflow: hidden;
}

.gallery{
    position: relative;
    display: inline-block;
    background-color: #373737;
    width: 25vw;
    height: 46vh;
    margin: 1vw;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    overflow: hidden;
}

.gallery h4{
    color: #ffffff;
    margin: 3vh 0 1vh;
    width: 100%;
    padding: 0 2em;
    font-size: 18px;
    line-height: 7vh;
    text-align: center;
}


.gallery .gallery-body p{
    padding-top:1vw ;
    max-width: 25vw;
    height: 25vh;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.gallery img{
    width: 100%;
    height: 25vh;
    position: relative;
    z-index: 5;
    opacity: 1;
    transition: all 1s;
}

.gallery:hover img{
    opacity: .5;
    -webkit-filter: grayscale(80%) contrast(180%);
    filter: grayscale(80%) contrast(180%);
}

.gallery:hover .gallery-body{
    opacity: 1;
}

.gallery p{
    font-size: 12px;
    color: white;
    padding: 2vh 4vh 2vh;
    text-align: justify;
    line-height: 16px;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
}

.gallery:hover p{
    opacity: 1;
}

.gallery .gallery-btn{
    text-align: center;
    width: 15vw;
    display: block;
    position: relative;
    z-index: 10;
    height: 6vh;
    line-height: 7vh;
    font-size: 12px;
    margin: 1vh auto;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.7);
}

.form-wrapper{
    width: 50%;
    position: relative;
}


#contact-form .email,#contact-form .name,#contact-form .body{
    margin: 2%;
    border: none;
    border-radius: 0px;
    font-size: 3vh;
    line-height: 3vh;
    float: left;
    box-shadow:inset 0 0 10px #888;
    padding: 10px 2vh;
    color: #373737;
    outline: none;
}

#contact-form .email:focus,#contact-form .name:focus,#contact-form .body:focus{
    border:solid 2px #888888;
}

#contact-form .email,#contact-form .name{
    width: 40%;
    height: 6vh;
    display: inline-block;
}

#contact-form .email::-webkit-input-placeholder,#contact-form .name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    line-height: 7vh;
}
#contact-form .email::-moz-placeholder,#contact-form .name::-moz-placeholder {
    line-height: 7vh;
}
#contact-form .email:-ms-input-placeholder,#contact-form .name:-ms-input-placeholder {
    line-height: 7vh;
}
#contact-form .email:-moz-placeholder,#contact-form .name:-moz-placeholder {
    line-height: 7vh;
}

#contact-form .body{
    width: 84%;
    height: 30vh;
}

#contact-form .send{
    padding: 4vh 10px 3vh;
    font-size: 3vh;
    line-height: 2vh;
    width: 25%;
    color: white;
    transition: all 0.5s;
    float: left;
    background-color: #080808;
    margin: 2%;
    border: none;
}

#contact-form .send:hover{
    color: #0098bf;
}

.links-wrapper{
    width: 39%;
    margin-left: 10%;
    position: relative;
}

#contact .footer-info{
    clear: both;
    width: 22vw;
    height: 8vh;
    margin: 3vh 2vw 2vh 2vw;
    overflow: hidden;
}

#contact .footer-info p{
    font-size: .8em;
    text-align: left;
    margin: 0px 5px 5px 0px ;
}

#contact .footer-info p.solo{
    margin-top: 1em ;
}

#contact .footer-info span.fa{
    font-size: 2.5em;
    height: 8vh;
    margin-left: 5px;
}

#contact .socials{
    text-align: left;
    padding-left: 3vh;
}

#contact .socials a{
    overflow: hidden;
    border-radius: 1000px;
    display: inline-block;
    margin: 2vh 2vh 4vh;
    width: 3em;
    height: 3em;
    text-align: center;
}

#contact .socials a span.fa{
    margin-top: 0.4em;
    color: white;
    transition: all 1s;
    font-size: 1.5em;
    line-height: 1.2em;
}

#contact .socials a:hover span.fa {
    color: #373737;
}

#contact .socials .fb{
    background-color:#4b69a8;
}

#contact .socials .tw{
    background-color:#10bcfd;
}

#contact .socials .gp{
    background-color:#ed5b49;
}

#contact .socials .ld{
    background-color:#238cc8 ;
}


.section-nav-container{
    float: left;
    position: absolute;
    top: 65px;
    left:10px;
}

.tab-section .nav-pills li{
    float: left;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.tab-section .nav-pills li a,.tab-section .nav-pills li a:hover{
    border-radius: 0;
    text-decoration: none;
    min-width: 8vw;
    height: 25px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    background-color: #1b687b;
    color: #dddddd;
    transition: all .8s;
}

.tab-section .nav-pills li a:hover{
    color: white;
}

.onepage-section:nth-child(even).tab-section .nav-pills li.active a{
    background-color: #0088ff;
}

.onepage-section:nth-child(odd).tab-section .nav-pills li.active a{
    background-color: #373737;
}

#goals .section-text .auto-scroll-wrapper{
    height: 50vh;
}




