
.main-container{
position: absolute;
}

.onepage-section {
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.onepage-section h2{
    font-size: 2.4em;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 9vh;
}

.onepage-section h3{
    font-size: 1.1em;
    margin-top: 2.2vh;
}

.onepage-section#home{
    background: url("../images/home-header.jpg");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3vh;
    position: relative;
    height: 100vh;
    text-align: center;
}

.onepage-section#home img{
    width: 20vw;
    height: auto;
    margin: 30vh auto 0;
}

.logo-caption{
    width: 100%;
    margin-top: 3vh;
    text-align: center;
    color: #373737;
    font-size: 1.8em;
    font-weight: bold;
}

.section-down-btn{
    color: white;
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 2em;
     margin-left: -2em;
    position: absolute;
    top: -2em;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

.section-down-btn span{
    transition: all 0.5s;
    line-height: 1.05em;
    font-size: 2.2em !important;
}


.onepage-section:nth-child(even){
    background-color: #373737;
}

.onepage-section:nth-child(odd){
    background-color: #0098bf;
}

.onepage-section:nth-child(even) .section-down-btn{
    background-color: #373737;
}

.onepage-section:nth-child(even) .section-down-btn:hover{
    color:#0098bf;
}

.onepage-section:nth-child(odd) .section-down-btn{
    background-color: #0098bf;
}

.onepage-section:nth-child(odd) h3 {
    color: #2b2b2b;
}

.onepage-section:nth-child(odd) h2{
    font-size: 2.5em;
    color: #373737;
}

.onepage-section:nth-child(odd) .section-down-btn:hover{
    color:#373737;
}

.onepage-section#footer h2{
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.2em;
    color:#373737;
    line-height: 4.5vh;
    font-weight: normal;
}

.onepage-section#footer h3{
    margin-top: 0px;
    font-size: 1.2em;
    color:#373737;
}

.onepage-section#footer{
    height: auto !important;
    overflow: hidden;
}

.onepage-section#footer h2,.onepage-section#footer h3{
    color:white;
}

.hider{
    width: 96%;
    margin: 3vh 2% 0;
    overflow: hidden;
}

#services-next,#company-next,#members-next,#fields-next{
    position: absolute;
    right: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#services-prev,#company-prev,#members-prev,#fields-prev{
    position: absolute;
    left: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#services-next:hover,#services-prev:hover,#members-next:hover,#-prev:hover,#company-next:hover,#company-prev:hover,#fields-next:hover,#fields-prev:hover{
    color: #ffffff;
}
#service-wrapper,#company-wrapper,#member-wrapper,#field-wrapper{
    display: inline-block;
    position: relative;
    left: 0vw;
    margin-left: -10px;
    width:auto;
    height: 60vh;
    text-align: center;
}

#company-wrapper,#member-wrapper{
    margin-top: 0vh;
    height: 50vh;
}

#member-wrapper{
    padding: 0 0vw;
}

#service-wrapper .service,#company-wrapper .company,#member-wrapper .member, #field-wrapper .field{
    display: inline-block;
    float: left;
    width: 20vw;
    height: 50vh;
    margin: 3vh 1.8vw;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
}

#member-wrapper .member{
    margin: 3vh 1.8vw;
}

#service-wrapper .service,#field-wrapper .field{
    width: 18vw;
    margin: 6vh 2.8vw;
    position: relative;
}

#service-wrapper .service::after,#field-wrapper .field::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 100px;
    background-image: url(../images/fader_blue.png);
    background-repeat-y: no-repeat;
    background-repeat-x: repeat ;
    background-position: left bottom;
}

.tab-content #services-next,.tab-content #services-prev,.tab-content #fields-next,.tab-content #fields-prev{
    top: 20vh;
}

#service-wrapper .service img, #field-wrapper .field img{
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    transition: all 0.5s;
}

#member-wrapper .member img,#company-wrapper .company img{
    width: 14vw;
    height: 14vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition: all 0.5s;
    border-radius: 1000px;
}

#company-wrapper .company img{
    margin-bottom: 2vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 0px !important;
}

#member-wrapper .member img{
    margin-bottom: 2vh;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.company:hover img{
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%);
}

.member:hover img{
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%);
}

#service-wrapper .service h4,#company-wrapper .company h4, #member-wrapper .member h4,#field-wrapper .field h4{
    font-size: 19px;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

#member-wrapper .member h4{
    padding: 10px 5px 7px;
    font-size: 1.4em;
    box-sizing: content-box;
    margin: 0;
}

#member-wrapper .member h5{
    font-size: 1em;
    color: #dddddd;
    padding: 0px 5px;
    margin: 0 0 0 0 ;
    box-sizing: content-box;
}


.research .research-btn,.result .result-btn{
    position: absolute;
    bottom: 2vh;
    left: 20vw;
    margin-left: -7.5vw;
}

.section-btn-all{
    display: inline-block;
    position: absolute;
    left: 41.5%;
    bottom: 4vh;
    width: 17%;
    height: 6vh;
    line-height: 6.5vh;
    font-size: .9em;
    margin: 0vh auto 2em;
    padding: 0 10px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 4px black;
    transition: all 1s;
}

.section-btn-all:hover{
    background-color: rgba(0,0,0,1);
}


#events-next{
    position: absolute;
    right: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#events-prev{
    position: absolute;
    left: 10px;
    top:45vh;
    cursor: pointer;
    color: #aaaaaa;
    transition: all .5s;
}

#events-next:hover,#events-prev:hover{
    color: #ffffff;
}

.event{
    float: left;
    position: relative;
    display: inline-block;
    width: 25vh;
    margin: 2.5vh 0 0 2.5vh;
    height: 25vh;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    background-color: #2ca02c;
    transition: opacity, 0.5s;
}

.event div.p{
    font-size: 1.2em;
}

.color1{
    background-color: #2980b9;
}

.color2{
    background-color: #e67e22;
}

.color3{
    background-color: #1abc9c;
}

.color5{
    background-color: #e74c3c;
}

.color6{
    background-color: #2ca02c;
}

.event:hover{
    transition: all 0.5s;
    transition-delay: 0.5s;
    z-index: 100;
    width: 52.5vh;
}

.event.highlight:hover{
    height: 52.5vh;
    top: 0 !important;
}

.event .overlay{
    width: 25vh;
    height: 25vh;
    overflow: hidden;
    padding: 7vh 0;
    margin: auto;
}

.event:hover .overlay{
    height: 0px;
    padding: 0 !important;
    opacity: 0;
    text-align: center;
    transition: all 0.5s;
}

.event.highlight .overlay{
    padding: 5vh 0;
}

.event .content{
    opacity: 0;
    padding: 1vh 1em;
    transition: all 0.5s;
    transition-delay: 1s;
}

.event:hover .content{
    opacity: 1;
}

.event.highlight{
    width: 52.5vh;
    font-size: 22px;
}

.event .month{
    font-size: 1.5em;
    color:#373737;
    margin: 0;
}

.event .day{
    font-size: 2.1em;
    color:#373737;
    font-weight: bold;
    margin: 0 ;
}

.event.highlight .month{
    font-size: 1.4em;
    color:#373737;
    margin: 0;
    line-height: 1em;
}

.event.highlight .day{
    font-size: 1.9em;
    color:#373737;
    font-weight: bold;
    margin: 0;
}

.event .title{
    font-size: 1.6em;
    color:#373737;
    font-weight: bold;
    margin-top: 1.8vh;
}

.event.highlight .title{
    margin-top: 1.5em;
}

.event .location{
    font-size: .9em;
    color:#fff;
    margin-bottom: 0;
}

.event .time{
    font-size: .8em;
    color:#2b2b2b;
}

.event .desc{
    font-size: .9em;
    line-height: 1em;
    color:#fff;
    display: none;
}

#events .hider{
    height: 58vh;
    width: 92%;
    margin: 6vh 4% 0;
}

#events #event-wrapper{
    height: 60vh;
    left: 0px;
}

.event.fade{
    opacity: 0.4;
}

.gallery{
    position: relative;
    display: inline-block;
    background-color: #373737;
    width: 25vw;
    height: 46vh;
    margin:5vh  1vw;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    overflow: hidden;
}

.gallery h4{
    color: #ffffff;
    margin: 1.5vh 0;
    width: 100%;
    padding: 0 20px;
    font-size: 1.3em;
    line-height: 7vh;
    height: 7vh;
    text-align: center;
    overflow: hidden;
}


.gallery .gallery-body div.p{
    padding-top:1vw ;
    text-align: center;
    width: 100%;
    height: 25vh;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.gallery img{
    width: 100%;
    height: 25vh;
    position: relative;
    z-index: 5;
    opacity: 1;
    transition: all 1s;
    object-fit: cover;
}

.gallery:hover img{
    opacity: .5;
    -webkit-filter: grayscale(80%) contrast(180%);
    filter: grayscale(80%) contrast(180%);
}

.gallery:hover .gallery-body{
    opacity: 1;
}

.gallery div.p{
    font-size: 12px;
    color: white;
    padding: 2vh 4vh 2vh;
    text-align: justify;
    line-height: 16px;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
}

.gallery:hover div.p{
    opacity: 1;
}

.gallery .gallery-btn{
    text-align: center;
    width: 15vw;
    display: block;
    position: relative;
    z-index: 10;
    height: 6vh;
    line-height: 6vh;
    font-size: 12px;
    margin: 2.4vh auto;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.7);
}

.form-wrapper{
    width: 45%;
    margin-right: 5%;
    position: relative;
    margin-top: 6vh;
}


#contact-form .email,#contact-form .name,#contact-form .body{
    margin: 2%;
    border: none;
    border-radius: 0px;
    font-size: 3vh;
    line-height: 3vh;
    float: left;
    box-shadow:inset 0 0 10px #888;
    padding: 10px 2vh;
    color: #373737;
    outline: none;
}

#contact-form .email:focus,#contact-form .name:focus,#contact-form .body:focus{
    border:solid 2px #888888;
}

#contact-form .email,#contact-form .name{
    width: 40%;
    height: 6vh;
    display: inline-block;
}

#contact-form .email::-webkit-input-placeholder,#contact-form .name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    line-height: 7vh;
}
#contact-form .email::-moz-placeholder,#contact-form .name::-moz-placeholder {
    line-height: 7vh;
}
#contact-form .email:-ms-input-placeholder,#contact-form .name:-ms-input-placeholder {
    line-height: 7vh;
}
#contact-form .email:-moz-placeholder,#contact-form .name:-moz-placeholder {
    line-height: 7vh;
}

#contact-form .body{
    width: 84%;
    height: 30vh;
}

#contact-form .send{
    padding: 4vh 10px 3vh;
    font-size: 3vh;
    line-height: 2vh;
    width: 25%;
    color: white;
    transition: all 0.5s;
    background-color: #080808;
    margin: 2%;
    border: none;
}

#contact-form .send:hover{
    color: #0098bf;
}

.links-wrapper{
    width: 39%;
    margin-top: 6vh;
    margin-left: 10%;
    position: relative;
}

#contact .footer-info{
    clear: both;
    width: 24vw;
    height: 8vh;
    margin: 2vh 2vw 2vh 4vw;
    overflow: hidden;
}

#contact .footer-info p{
    font-size: .85em;
    text-align: left;
    margin: 0px 5px 5px 0px ;
}

#contact .footer-info p.solo{
    margin-top: 1em ;
}

#contact .footer-info span.fa{
    font-size: 2.5em;
    height: 8vh;
    margin-left: 5px;
}

#contact .socials{
    text-align: left;
    padding-left: 5.5vw;
}

#contact .socials a{
    overflow: hidden;
    border-radius: 1000px;
    display: inline-block;
    margin: 2vh 2vh 4vh;
    width: 3em;
    height: 3em;
    text-align: center;
}

#contact .socials a span.fa{
    margin-top: 0.4em;
    color: white;
    transition: all 1s;
    font-size: 1.5em;
    line-height: 1.2em;
}

#contact .socials a:hover span.fa {
    color: #373737;
}

#contact .socials .fb{
    background-color:#4b69a8;
}

#contact .socials .tw{
    background-color:#10bcfd;
}

#contact .socials .gp{
    background-color:#ed5b49;
}

#contact .socials .ld{
    background-color:#238cc8 ;
}

#contact .socials .tg{
    background-color: #2ba5df;
}

#goals .section-text .auto-scroll-wrapper{
    height: 50vh;
}

#introduction .section-text .custom-scroll-wrapper{
    height: 45vh;
}

#industry .section-text .custom-scroll-wrapper{
    height: 45vh;
}

#goals .section-text .custom-scroll-wrapper{
    height: 45vh;
}

#experience .section-text .custom-scroll-wrapper{
    height: 45vh;
}

.modal{
    direction:ltr;
}

.modal-content{
    direction:rtl;
}

.modal-header .close{
    margin-top: -11px;
    color: white !important;
    float: right;
}
#captcha-modal .modal-dialog,#service-modal .modal-dialog{
    width: 50vw;
    margin-top: 12vh;
    direction: rtl;
}

#captcha-modal .modal-content,#service-modal .modal-content{
    border-radius: 0;
    color: white;
    z-index: 1020;
    background: #000;
    min-height: 28vw;
    text-align: justify;
}

#service-modal .modal-content img{
    float: right;
    width: 18vw;
    height: auto;
    margin: 1vw;
    display: none;
}

#service-modal h4{
    font-size: 1.6em;
    margin: 1vw;
}

#service-modal div.p{
    padding: 1vw 1vw 0;
}



