 body{
    font-family: 'Prompt', sans-serif;
    background: #373737;
    font-size: 1.4em;
    line-height: 1.428571429;
    color: #373737;
}


.container-fluid{
    /*padding: 0;*/
}

a, a:hover,a:focus{
    color : #ffffff;
    text-decoration: none;
}

#nav-container{
    padding: 0;
    z-index: 20;
    position: absolute;
    top: 6vh;
    height: 7vh;
    min-height: 2.8em;
    overflow:hidden;
    /*transition: all 0.9s;*/

}

.affix{
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    /*transition: all 0.5s;*/
}

#main-menu{
    height: 7vh;
    min-height: 2.8em;
    overflow: hidden;
    background-color: rgba(50,50,50,0.75);
    /*background: url("../images/bg.jpg");*/
    border: none;
    border-radius: 0;
}
.navbar-brand {
    float: left;
    display: block;
    text-align: center;
    height: 7vh;
    width: 7vh;
    min-height: 2.1em;
    min-width: 2.1em;
    padding: 5px;
    margin-top: 0;
    background-color: #00789e;
    transition: all 0.3s;
}

/*.affix .navbar-brand{*/
    /*height: 30px;*/
    /*margin-top: 5px ;*/
    /*margin-left: -12px !important;*/
/*}*/

.navbar-brand a{
    cursor: pointer;
    text-decoration: none;
}
.navbar-brand .logo-icon{
    width: 6vh;
    transition: all 0.3s;
}

/*.affix .navbar-brand .logo-icon{*/
    /*width: 25px;*/
/*}*/

#main-menu ul.nav{
    display: block;
    text-align: right;
    padding: 0;
}

#main-menu ul.nav li{
    display: inline-block;
    margin-left: 1.2em;
}

#main-menu ul.nav li a{
    font-size: 1em;
    color:white !important;
    padding: 0 ;
    line-height: 7vh;
    transition: all 0.5s;
}

#main-menu .nav li.active a{
    color:#18afd7 !important;
    background:none !important;
}

#main-menu .nav li a:hover{
    color:#7cc3d8 !important;
    /*background-color: white;*/
}

 .navbar-main.navbar-collapse{
     display: inline-block !important;
 }

.navbar-form{
    float: right;
    margin: 0;
    line-height: 40px;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
}

.navbar-search-wrapper{
    display: inline-block;
    float: left;
}

#nav-container .social{
    transition: all 1s !important;
    overflow: hidden;
    width: 2.5em;
}

#nav-container.affix .social{
    width: 0px;
    opacity: 0.1;
    transition: all 1s !important;
}

.navbar-form .submit{
    font-size: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
}

.navbar-form .text{
    height: 4.5vh;
    line-height: 4vh;
    font-size: 1.2em;
    width:10em;
    background: none;
    position: absolute;
    top: 0px;
    left: -10em;
    border:none;
    border-bottom: solid 1px #aaa;
    color:#cccccc;
    transition: all 0.5s;
    display: inline-block !important;
}

.navbar-form .text:focus{
    border: none;
    outline: none;
    border-bottom: solid 1px #ccc;
}

.navbar-form .text.hide{
    width: 0px !important;
    left: 0;
}

.navbar-form .fa-search{
    position: relative;
    cursor: pointer;
}

.navbar-form a,.navbar-search-wrapper{
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.navbar-form form{
    height: 6vh;
}

.navbar-form .fa{
    font-size: 1.2em;
    line-height: 7vh;
    height: 7vh;
    color: #aaa;
    transition: all 0.5s;
    padding-left: 2.5vh;
}

.navbar-form .fa-facebook:hover{
    color:#4b69a8;
    opacity: 0.9;
}

.navbar-form .fa-twitter:hover{
    color:#10bcfd;
    opacity: 0.9;
}

.navbar-form .fa-telegram:hover{
    color: #2ba5df;
    opacity: 0.9;
}

.navbar-form .fa-google-plus:hover{
    color:#ed5b49;
    opacity: 0.9;
}

.navbar-form .fa-search:hover,.navbar-form .lang span:hover{
    color:#ccc;
}

.navbar-form .lang span, .navbar-form .fa-facebook{
    border-left: solid 1px #aaa;
}

.navbar-form .fa-search, .navbar-form .fa-google-plus{
    padding-right: 10px;
}

#main-container{
 z-index: 10;
 padding: 0;
}

.tab-section .hider{
    margin: 2% auto 0;
}

.tab-section .section-nav-container{
    margin-top: 3vh;
    width: 100%;
    text-align: center;
}

.tab-section .section-nav-container ul{
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.tab-section .nav-pills li{
    float: left;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.tab-section .nav-pills li a,.tab-section .nav-pills li a:hover{
    border-radius: 0;
    text-decoration: none;
    min-width: 8vw;
    height: 4.2vh;
    line-height: 3vh;
    margin: 0;
    padding: 0.5vh 2vh;
    text-align: center;
    background-color: #1b687b;
    color: #dddddd;
    transition: all .8s;
}

.tab-section .nav-pills li a:hover{
    color: white;
}

.tab-section .tab-container{
    margin-top: 4vh;
}

.onepage-section:nth-child(even).tab-section .nav-pills li.active a{
    background-color: #0098bf;
}

.onepage-section:nth-child(odd).tab-section .nav-pills li.active a{
    background-color: #373737;
}

.page-header{
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    border-bottom: none;
}

.page-header h2{
    color: #ffffff;
    font-size: 2em;
    font-weight: normal;
    margin-top: 0px;
    padding-top: 3vh;
}

.page-header h3{
    font-size: 1em;
    margin-top: 3vh;
    color: #ffffff;
}

.page-header{
    background-color: #373737;
    position: relative;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1vh 0 4vh;
}

.page-header img{
    width: 20vw;
    height: auto;
    margin: 25vh auto 0;
}

.page-header .logo-caption{
    width: 100%;
    color: #ffffff;
    margin-top: 3vh;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.section-down-btn{
    color: white;
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 2.4em;
    margin-left: -2em;
    position: absolute;
    left: 50vw;
    top: -2.3em;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    background-color: #373737;
}

.section-down-btn:hover{
    color: #373737;
}

.section-down-btn span{
    transition: all 0.5s;
    line-height: 0.8em;
    font-size: 3em !important;
}

.footer-section{
    margin-top: -1px;
    text-align: center;
    position: relative;
    background-color: #373737;
    height: auto;
    min-height: 32vh;
    color: #ffffff;
    padding: 7vh 0 2vh;
}

.footer-section .section-down-btn{
    background-color: #373737;
}

.footer-section .section-down-btn:hover{
    color: #0098bf;
}

.footer-info{
    clear: both;
    width: 22vw;
    height: 8vh;
    margin: 2vh 2vw 0vh 2vw;
    overflow: hidden;
}

.footer-info p{
    font-size: .9em;
    line-height: 1.2em;
    text-align: left;
    margin: 0px 5px 5px 0px ;
}

.footer-info p.solo{
    margin-top: 1em ;
}

.footer-info span.fa{
    font-size: 2.1em;
    height: 8vh;
    margin-right: 5px;
    float: left;
}

.footer-info .fa-envelope{
    font-size: 1.9em !important;
}

.footer-info p{
    direction: ltr;
}

.footer-section .footer-center{
    position: relative;
    width: 50vw;
    text-align: center;
    margin: -3vh auto 0;
}


.footer-section .footer-center .footer-socials a,.share-socials a{
    overflow: hidden;
    border-radius: 1000px;
    display: inline-block;
    margin: 2vh 1em 4vh;
    width: 3.0em;
    height: 3.0em;
    text-align: center;
}

.footer-section .footer-center .footer-socials a span.fa,.share-socials a span.fa{
    margin-top: 0.4em;
    color: white;
    transition: all 1s;
}

.footer-section .footer-center .footer-socials a span.fa{
    margin-top: 0.5em;
    font-size: 1.6em;
}

.footer-section .footer-center .footer-socials a:hover span.fa,.share-socials a:hover span.fa {
    color: #373737;
}

.footer-socials .fb,.share-socials .fb{
    background-color:#4b69a8;
}

.footer-socials .tw,.share-socials .tw{
    background-color:#10bcfd;
}

.footer-socials .gp,.share-socials .gp{
    background-color:#ed5b49;
}

.footer-socials .tg{
    background-color: #2ba5df;
}

.footer-socials .ld,.share-socials .ld{
    background-color:#238cc8 ;
}

.footer-section .footer-center .footer-text p{
    font-size: 1.2em;
    font-weight: bold;
    color: #373737;
    line-height: 1.4em;
}

.auto-scroll-wrapper{
    overflow: hidden;
    position: relative;
}

.auto-scroll{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    cursor: pointer;
    transition: all 1s;
}


.section-text{
    background-color: rgba(0,0,0,0.7);
    margin: 9vh auto 1vh;
    width: 55vw;
    min-width: 600px;
    padding: 2vh;
    text-align: justify;
}

.section-text .auto-scroll-wrapper{
    height: 45vh;
}

.custom-scroll-wrapper{
    overflow-y: auto;
    position: relative;
}

/*.custom-scroll-wrapper::after{*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: -20px;*/
    /*width: 100%;*/
    /*height: 100px;*/
    /*background-image: url(../images/fader.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: left bottom;*/
/*}*/

/*.custom-scroll-wrapper::after{*/
    /*content: '';*/
    /*display: block;*/
    /*border-right: solid 1px white;*/
    /*width: 1px;*/
    /*height: 10vh;*/
/*}*/

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: white;
    width:4px;
}

::-webkit-scrollbar-thumb {
    background-color: #0098bf;
    /*outline: 1px solid #0098bf;*/
    /*height: 10px;*/
}

.custom-scroll-content{
    position: relative;
    padding: 3vh 5vh ;
    cursor: pointer;
    text-align: justify;
    /*transition: all 5s;*/
}

#introduction .custom-scroll-content p,#goals .custom-scroll-content p  {
    text-align: justify !important;
}

.field-tab,.link-tab{
    background: none;
    margin: 5vh auto 0;
    width: 40vw;
    padding: 4vh;
}

.field-wrapper,.link-wrapper{
    height: 55vh;
}

.field-wrapper .custom-scroll-content,.link-wrapper .custom-scroll-content{
    padding-top: 0 !important;
}

.field-item,.link-item{
    border: solid 2px #373737;
    width: 90%;
    height:8vh;
    line-height: 8vh;
    font-size: 1.2em;
    margin: 0 auto 3vh;
    border-radius: 2px;
    display: block;
    color: #373737;
    text-decoration: none!important;
    transition: all .5s;
    text-align: center !important;
    overflow: hidden;
}

.field-item .full,.link-item.full{
    display: none;
}

.link-item{
    border: solid 2px #0098bf;
    color: #ffffff;
}

.field-item:hover{
    background-color: #373737;
    color: white;
}

.link-item:hover{
    background-color: #0098bf;
    color: #373737;
    border-color: #0098bf;
}

#resources .section-text{
    width: 94vw;
    margin-top: 2vh;
    padding: 0;
    text-align: center;
}

#resources .section-btn-all{
    bottom: -14vh;
}

#fields .custom-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #373737;
    /*outline: 1px solid #0098bf;*/
    /*height: 10px;*/
}

.research,.result{
    text-align: left;
    background-color: #373737;
    width: 40vw;
    display: inline-block;
    margin: 2vw;
    height: 51vh;
    padding: 2vh 4vw;
    position: relative;
    overflow: hidden;
}

.research{
    direction: ltr;
}

.result{
    display: block;
    margin: 4vh auto;
}

.research h4,.result h4{
    font-size: 1.6em;
    margin-top: 1em;
    width: 100%;
    color: white;
}

.research h5,.result h5{
    font-size: 1em;
    color:#b9b9b9;
    margin-top: .5em;
    width: 100%;
}

.research div.p ,.result div.p{
    font-size: 1em;
    height: 5.9em;
    text-align: justify;
    line-height: 1.2em;
    margin-top: 1.8em;
    overflow: hidden;
    color: white;
}

#researches .tab-pane{
    position: relative;
}

#researches .section-btn-all{
    position: absolute;
    bottom: -13vh;
}

.card-wrapper .field div.p{
    font-size: 12px;
    max-height: 100px;
    line-height: 16px;
    margin-top: 12px;
    overflow: hidden;
}


.card-wrapper{
    width: 100%;
    margin: 9vh auto;
}

.card{
    position: relative;
    display: inline-block;
    background-color: #373737;
    width: 25vw;
    margin: 0vh 1.5vw;
    height: 48vh;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    overflow: hidden;
}

.card h4{
    margin: 1.5vh 0;
    width: 100%;
    padding: 0 20px;
    font-size: 1.3em;
    line-height: 7vh;
    text-align: left;
    height: 6vh;
    overflow: hidden;
}

/*.card .auto-scroll-wrapper{*/
/*height: 12vh;*/
/*}*/

/*.card .auto-scroll{*/
/*line-height: 8vh;*/
/*}*/

.card .card-date{
    color: #cccccc;
    background-color: #000000;
    font-size: 1em;
    line-height: 9vh;
    height: 8vh;
    width: 100%;
    text-align: left;
}
.card .card-date .fa{
    margin:0 10px 0 20px ;
}

.card img{
    width: 100%;
    height: 32vh;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    transition: bottom 1s,opacity .5s;
}

.card:hover img{
    opacity: 0;
    bottom: -29vh;
}

.card:hover div.p{
    opacity: 1;
}

.card div.p{
    font-size: 1em;
    height: 8em;
    padding: 2vh 20px 2vh;
    text-align: justify;
    line-height: 1.5;
    margin-top: 2vh;
    overflow: hidden;
    opacity: 0;
    transition: all 1s;
    position: relative;
}

 .card div.p,.research div.p,.result div.p{
     position: relative;
 }

.card div.p::after,.research div.p::after,.result div.p::after{
    content: "";
    display: block;
    position: absolute;
    top: 10vh ;
    width: 110%;
    height: 100px;
    margin-right: -20px;
    background-image: url(../images/fader.png);
     background-repeat-y: no-repeat;
     background-repeat-x: repeat ;
    background-position: left bottom;
}

.card .card-btn,.research .research-btn,.result .result-btn{
    text-align: center;
    width: 15vw;
    display: block;
    position: relative;
    z-index: 10;
    height: 6vh;
    line-height: 5.8vh;
    font-size: 1em;
    margin: 2vh auto 2vh;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0,0,0,0.7);
}

.card.no-img img{
    display: none;
}

.card.no-img .p{
    opacity: 1;
}

#field-item-modal .modal-content{
    border-radius: 0 !important;
    background-color: black;
    color: white;
    text-align: justify;
}

#field-item-modal .close{
    margin-top: -11px;
}

#field-item-modal .modal-dialog{
    width: 50vw;
    margin-top: 12vh;
    direction: rtl;
}

div.no-content{
    text-align: center !important;
    color: white !important;
    margin-top: 10vh;
}

.tab-pane.active{
    min-height: 40vh;
}

#cat-container.dl-menuwrapper {
    margin: 2vh auto;
}

#captcha-modal .modal-dialog{
    width: 14em !important;
}

#captcha-modal .modal-content{
    min-height: 15em!important;
    height:15em!important;
}

#captcha-modal img{
    float: right;
    height: 4em;
    width: 10em;
    margin: 1em 10px 1px;
}

#captcha-visible{
    height: 2em;
    float: right;
    margin: 1px 10px;
    line-height: 2em;
    font-size: 1em;
    width: 10em;
    color: #373737;
}

#captcha-reload{
    float: right;
    background-color: #0098bf;
    margin: 1px 8px 1px 1px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-right: solid 2px #000000 ;
    text-align: center;
}

#captcha-submit{
    float: right;
    background-color: #0098bf;
    margin: 1px 1px 1px 10px;
    width: 8em;
    height: 2em;
    line-height: 2em;
    border: none !important;
    outline: none !important;
}

