.member-section{
    position: relative;
    height: 100vh;
    text-align: center;
    color: #ffffff;
}

.member-section h2,h1{
    font-size: 2.7em;
    font-weight: normal;
    margin-top: .5em;
    padding-top: 0;
}

.member-section h2{
    font-size: 1.5em;
    margin-top: .9em;
}

.member-section h3{
    font-size: 14px;
    margin-top: 10px;
}

.member-dec{
    text-align: center;
    font-size: 14px;
}

.section-down-btn{
    color: white;
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 2em;
    margin-left: -2em;
    position: absolute;
    top: -2em;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.section-down-btn span{
    transition: all 0.5s;
    line-height: 0.8em;
    font-size: 3em !important;
}


.member-section:nth-child(odd){
    background-color: #373737;
}

.member-section:nth-child(even){
    background-color: #0098bf;
}

.member-section:nth-child(odd) .section-down-btn{
    background-color: #373737;
}

.member-section:nth-child(odd) .section-down-btn:hover{
    color:#0098bf;
}

.member-section:nth-child(even) .section-down-btn{
    background-color: #0098bf;
}

.member-section:nth-child(even) .section-down-btn:hover{
    color:#373737;
}

.member-section .animate-holder{
    position: relative;
    top: 25vh;
    /*border: solid 1px black;*/
    width: 100%;
    height: 65vh;
    overflow: hidden;
}
.member-section .animate{
    width: 40vw;
    height: 65vh;
    position: absolute;
    top: 0;
    transition: all .8s;
    transition-delay: .2s;
    transition-timing-function: ease-out;
    /*border: solid 1px red;*/
}

.member-section .animate-left{
    left:-50vw;
}

.member-section .animate-right{
    right:-50vw;
}

.member-section.visited .animate-left{
    left:7vw;
}

.member-section.visited .animate-right{
    right:7vw;
}

.member-section .header-logo{
    width: 20vw;
    height: auto;
    margin: 0 auto 11vh;
}

#main-menu, .navbar .navbar-form{
    transition:all 0.8s;
}

.affix #main-menu {
    height: 9vh;
}

.affix .navbar .navbar-form{
    opacity: 0;
}

.member-on-header{
    width: 40vw;
    margin: 18vh auto;
    position: relative;
    text-align: center;
    transition: all 0.8s;
}


.member-on-header .img-wrapper{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 1000px;
    margin: 0 auto 4vh;
    box-shadow: 0 0 5px black;
}

.member-on-header img{
    margin:0;
}


.shrink .member-on-header{
    opacity: 0;
    transform: translate(30vw,-30vh) scale(0.1,0.1);
}

.shrink .logo-on-member-header{
    opacity: 0;
    transform:scale(0.1,0.1);
}

#card{
    position: fixed;
    z-index: 100;
    opacity: 0;
    top: 0;
    right: 0;
    display: inline-block;
    height: 7vh;
    min-height: 2.8em;
    transition: all 0.8s;
}


#card .img-wrapper{
    width: 8vh;
    float: right;
    height: 7.5vh;
    overflow: hidden;
    margin: 1vh;
    box-shadow: none;
}

#card.show{
    opacity: 1;
}

#card img{
    width: 6vh;
    height: auto;
}
#card p{
    text-align: right;
    color: #ffffff;
    width: auto;
    float: right;
    line-height: 3.5vh;
    padding: 2vh 2vh 1vh;
    background: rgba(0,0,0,.5);
    margin:0;
    height: 7vh;
    font-size: 16px;
}

.section-header{
    margin-top:0 !important;
    padding-top: 10vh !important;
}

#research .animate-holder,#academic .animate-holder,#career .animate-holder{
    top: 5vh;
}

#research .animate-left{
    height: 10vh;
    width: 80vw;
    left: -100vw;
    top: 40vh;
}

#research .animate-right,#academic .animate-left,#career .animate-right{
    height: 40vh;
    width: 80vw;
    right: -100vw;
}

#academic .animate-left{
    left: -100vw;
}

#research.visited .animate-left,#academic.visited .animate-left{
    left:9vw !important;
}

#research.visited .animate-right,#career.visited .animate-right{
    right:9vw !important;
}

#research .animate-right p{
    background:#373737;
    margin: 2vh;
    padding: 2vh 2vh 1vh;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

.research-btn-all{
    display: inline-block;
    width: 25vw;
    height: 8vh;
    line-height: 9vh;
    font-size: 16px;
    margin: 0vh auto 0;
    padding: 0 10px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 4px black;
    transition: all 1s;
}

.member-rec{
    display: inline-block;
    vertical-align: bottom;
    width: 22vw;
    height: 45vh;
    margin: 10vh 2vw 0;
    background: #0098bf;
    box-shadow: 0 0 5px black;
    position: relative;
}

.member-rec .row{
    text-align: center;
    color: #373737;
}

.member-rec .row:nth-child(1){
    font-size: 1.5em;
    margin: 10vh 0 0;
}

.member-rec .row:nth-child(2){
    font-size: 2.5em;
    padding: 0 2vw;
    line-height: .9em;
    font-weight: bold;
    margin: 1vh 0 0;
}

.member-rec .row:nth-child(3){
    font-size: 1.2em;
    margin: 5vh 0 0;
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
}

#contact .contact-socials{
    margin-top: 10vh;
}

#contact .contact-socials h3{
    font-size: 22px;
}

#contact .social{
    display: inline-block;
    background-color: #373737;
    color: white;
    width: 3em;
    font-size: 1.5em;
    height: 3em;
    margin: 1vw;
    border-radius: 100px;
    line-height: 3em;
    transition: all .8s;
}

#contact .contact-card{
    margin: 5vh auto 0;
    width: 40vw;
    border-bottom: solid 4px #373737;
}
#contact .contact-row {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 3vh 5vw;
    border-bottom: solid 2px #373737;
}

#contact .contact-row label{
    font-size: 1.2em;
    color: #373737;
    float: left;
    margin: 0.2em;
}

#contact .contact-row p{
    font-size: 1.2em;
    color: #373737;
    float: right;
    margin: 0.2em;
}

#contact .social.fb:hover{
    background-color:#4b69a8;
}

#contact .social.tw:hover{
    background-color:#10bcfd;
}

#contact .social.gp:hover{
    background-color:#ed5b49;
}

#contact .social.ld:hover{
    background-color:#238cc8 ;
}

.member-section:nth-child(odd).tab-section .nav-pills li.active a{
    background-color: #0098bf;
}

.member-section:nth-child(even).tab-section .nav-pills li.active a{
    background-color: #373737;
}

.member-section:nth-child(even) h2,.member-section:nth-child(even) h3{
    color: #373737;
}


#global-footer{
    background-color: #0098bf;
    height: auto;
}

#global-footer .section-down-btn{
    background-color: #0098bf;
}